html {
    scroll-behavior: smooth;
}

#fightInfos{
    display: flex;
    justify-content: space-between;
}

#terrain{
    display: flex;
    justify-content: space-between;
    margin-top: 6vh;
}

#terrain>div>img{
    width: 30%;
    margin: 0 5vh;
}
#CampMedic{
    position: relative;
}
#CampMST{
    position: relative;   
}
.PatternDark{
    display: none;
}

.camp {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
}

body {
    margin: 0px;
    background: #f1f1f1;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hey {
    text-align: center;
    font-size: 40px;
}

.start-box {
    width: 100%;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

.select-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.nb-tour {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

#startButton {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 15px;
    background: #fff;
    border: 2px solid #61ca9b;
    color: #61ca9b;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.25s ease;
}

#startButton:hover {
     color:white;
     background: #61ca9b;
 }

.infos-box {
    position: absolute;
    z-index: 89;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}
#MST1 { left: 20px; bottom: -55vh}
#medicament1 { right: 20px;bottom: -55vh }

.fight-container {
    margin: 20px;
}


#win-box {
    display: none;
    font-size: 80px;
    position: absolute;
    top: 50%;
    right: 50%;
    text-align: center;
    transform: rotate(8deg) translate(50%, -50%);
    background: #ffffff
    border-radius: 35px;
    padding: 20px;
}

#win-box p {
    margin: 0px;
}

.arena {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/images/fond.gif");
}
#top-main {
    height: 100vh;
}